.heading-3 {
    justify-self: end;

    @media only screen and (max-width: $bp-medium) {
        justify-self: start;
    }

    color: $color-text-primary;
    text-transform: uppercase;
    // font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.bold {
    font-weight: 700;
}